<?xml version="1.0"?>
<launch>
    <include file="$(find cf_inspection)/launch/map.launch"/>

    <node name="conveyer" pkg="cf_inspection" type="conveyer_battery_check.py" output="screen" />

    <!-- data visualization -->
    <!-- <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot1" args="/cf02_pose/pose/position/x:y:z"/> -->
    <!-- <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot2" args="/cf02_Vbattery/data"/> -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cf_inspection)/launch/map_configs.rviz" required="true" />
</launch>

