<?xml version="1.0"?>
<launch>
    <!-- <node name="cf_inspection" pkg="cf_inspection" type="multiranger_pointcloud.py" output="screen" /> -->

    <!-- data visualization -->
    <!-- <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot1" args="/cf_pose/pose/position/x:y:z"/> -->
    <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot2" args="/cf01_Vbattery/data /cf02_Vbattery/data /cf03_Vbattery/data"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cf_inspection)/launch/multiranger_drone.rviz" required="true" />
</launch>
